.grid-lines {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

.grid-dot {
  stroke: none;
  fill: #bbb;
}

.signal {
  stroke: black;
  stroke-width: 9px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}