#print-view {
  margin-right:0px;
  margin-left:0px;
  margin-bottom:0px;
  margin-top:0px;
  padding:0px;
  background-color: black;
}
.page {
  page-break-after:always;
  margin:0px;
  padding:0px;
}
iframe {
  overflow: hidden;
  background-color: white;
}

.print-portrait               { width:8.5in; height:11in;  }
.print-portrait iframe        { width:8.5in; height:11in; }
.print-tallportrait           { width:8.5in; height:14in;  }
.print-tallportrait iframe    { width:8.5in; height:14in; }
.print-landscape              { width:11in; height:8.5in;  }
.print-landscape iframe       { width:11in; height:8.5in; }
.print-ledger-portrait        { width:11in; height:17in;  }
.print-ledger-portrait iframe { width:11in; height:17in; }

.layout-btn.current {
  background-color: #ffee66 ;
  border: solid 2px #ffcc33;
  border-radius: 2px;
  font-weight: bold;
}

@media print {
  #layout {
    display: none;
  }
}